:host {
  
  .sidebar-toggle {
    width: auto;
    flex-direction: row;
    > nb-icon.btn-icon.icon {
      margin: 0;
    }
    
    span {
      display: none;
    }
    
    > nb-icon {
      display: inline;
    }
  }
    
  .heading {
    margin: 0 0 0 400px;
  }
    
  .space2 {
    height: auto;
    min-height: 2rem;
    flex-grow: 1;
    flex-basis: 0;
    align-items: center;
    align-content: center;
    justify-content: left;
    overflow: visible;
    background-color: unset;
  }
    
  .text {
    margin: 0 0 4px 0;
  }
    
  .input {
    margin: 0 0 4px 0;
    width: 100%;
  }
    
  .space10 {
    height: 84px;
    width: 1069px;
    align-items: top;
    align-content: top;
    justify-content: left;
    padding: 0 0 16px 0;
    margin: 0 0 0 1px;
    overflow: visible;
    background-color: unset;
  }
    
  .text2 {
    margin: 0 0 4px 0;
  }
    
  .input1 {
    margin: -28px 0 20px 0;
    width: 100%;
  }
    
  .space11 {
    height: 91px;
    width: 100%;
    align-items: top;
    align-content: top;
    justify-content: left;
    margin: -13px 0 0 0;
    overflow: visible;
    background-color: unset;
  }
    
  .text3 {
    margin: 26px 0 0 0;
    color: var(--text-basic-color);
  }
    
  .radio {
    margin: 0 0 0 25px;
  }
    
  .input2 {
    width: 500px;
  }
    
  .text1 {
    margin: 55px 0 3px 0;
    color: var(--text-basic-color);
  }
    
  .radio1 {
    margin: 0 0 0 33px;
  }
    
  .space8 {
    height: 100%;
    width: 100%;
    align-items: top;
    align-content: top;
    justify-content: left;
    padding: 0 8px 0 0;
    overflow: visible;
    background-color: unset;
  }
    
  .space6 {
    height: 100%;
    flex-grow: 1;
    flex-basis: 0;
    align-items: stretch;
    align-content: stretch;
    justify-content: flex-start;
    overflow: visible;
    background-color: unset;
  }
    
  .space4 {
    height: 100%;
    flex-grow: 1;
    flex-basis: 0;
    align-items: stretch;
    align-content: stretch;
    justify-content: flex-start;
    overflow: visible;
    background-color: unset;
  }
    
  .button {
    width: auto;
    flex-direction: row;
    > nb-icon.btn-icon.icon {
      margin: 0;
    }
    
    span {
      display: inline;
    }
    
    > nb-icon {
      display: none;
    }
  }
    
  .space5 {
    height: auto;
    min-height: 2rem;
    flex-grow: 1;
    flex-basis: 0;
    align-items: center;
    align-content: center;
    justify-content: center;
    overflow: visible;
    background-color: unset;
  }
    
  .card {
    width: 100%;
    height: auto;
  }
    
  .space-component {
    height: 100%;
    width: 100%;
    align-items: flex-start;
    align-content: flex-start;
    justify-content: flex-start;
    overflow: visible;
    background-color: unset;
  }
  
}