<div class="space space-component">
  <button nbButton class="sidebar-toggle size-xl-medium" appearance="ghost" status="primary" (click)="toggleSidebar($event)">
    <nb-icon class="icon btn-icon" icon="menu"></nb-icon>
    <span></span>
  </button>
  <div *ngFor="let information of informations">
    <nb-card class="card">
      <nb-card-body>
        <div class="space space4">
          <p class="text text-undefined text-italic text-bold text-alignment-center text-transform-none paragraph">{{information.title}}</p>
          <p class="text1 text-undefined text-alignment-left text-transform-none paragraph">{{information.content}} </p>
        </div>
      </nb-card-body>
    </nb-card>
  </div>
</div>