<div class="space space-component">
  <button nbButton class="sidebar-toggle size-xl-medium" appearance="ghost" status="primary" (click)="toggleSidebar($event)">
    <nb-icon class="icon btn-icon" icon="menu"></nb-icon>
    <span></span>
  </button>
  <nb-card class="card">
    <nb-card-body>
      <div class="space space4">
        <p class="text text-undefined text-italic text-bold text-alignment-center text-transform-none paragraph">New Message</p>
        <p class="text1 text-undefined text-alignment-left text-transform-none paragraph">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris pulvinar porttitor nisi laoreet suscipit. Fusce mattis mattis nulla, vel aliquam ligula varius sit amet. Proin sed tincidunt nibh, non convallis augue. Sed quam diam, pellentesque eu condimentum bibendum, bibendum at neque. Nulla consequat risus non velit ultrices consectetur. Morbi iaculis convallis tellus, sit amet sollicitudin dui vestibulum at. Morbi sodales nulla vulputate elit ultricies gravida. </p>
      </div>
    </nb-card-body>
  </nb-card>
  <p class="text4 text-undefined text-italic text-bold text-alignment-center text-transform-uppercase paragraph">News and messages</p>
  <nb-card class="card2">
    <nb-card-body>
      <div class="space space5">
        <p class="text2 text-undefined text-italic text-bold text-alignment-left text-transform-none paragraph">New Message</p>
        <p class="text3 text-undefined text-alignment-left text-transform-none paragraph">Vivamus nec rhoncus augue. Aliquam non sapien ut lacus scelerisque viverra et sed felis. Nam purus magna, porta ut efficitur et, elementum eget turpis. Nullam ut arcu dui. Sed suscipit felis id mi hendrerit pharetra eget semper lorem. Nunc a consectetur turpis, blandit pretium lacus. Maecenas faucibus congue arcu ac laoreet. Proin a justo ut eros euismod blandit nec sit amet justo. Fusce metus massa, consectetur ultricies interdum facilisis, viverra sagittis lacus.</p>
      </div>
    </nb-card-body>
  </nb-card>
</div>