<div class="space sign-up-form">
  <label class="text text-basic label">Full name</label>
  <input nbInput class="input1 size-xl-medium" placeholder="" type="text" shape="rectangle" status="basic">
  <label class="text1 text-basic label">Email</label>
  <input nbInput class="input2 size-xl-medium" placeholder="" type="text" shape="rectangle" status="basic">
  <label class="text2 text-basic label">Password</label>
  <input nbInput class="input3 size-xl-medium" placeholder="" type="password" shape="rectangle" status="basic">
  <a href="" target="_blank"  class="link text-primary">Already have an account? Sign in</a>
</div>