<div class="space space1">
  <button nbButton class="sidebar-toggle size-xl-medium" appearance="ghost" status="primary" (click)="toggleSidebar($event)">
    <nb-icon class="icon btn-icon" icon="menu"></nb-icon>
    <span></span>
  </button>
  <nb-card class="card1">
    <nb-card-body>
      <div class="space space7">
        <img class="image2" src="/assets/images/default.svg" src="/assets/images/timeIcon.png">
        <button nbButton id="checkInBtn" (click)="checkIn($event)" class="button2 size-xl-medium" appearance="filled" status="primary">
          <nb-icon class="icon btn-icon" icon="star"></nb-icon>
          <span>Check in</span>
        </button>
      </div>
    </nb-card-body>
  </nb-card>
  <nb-card class="card">
    <nb-card-body>
      <div class="space space6">
        <img class="image" src="/assets/images/default.svg" src="/assets/images/hourglass.png">
        <button nbButton id="checkInBtn" (click)="checkOut($event)" class="button1 size-xl-medium" appearance="filled" status="primary">
          <nb-icon class="icon btn-icon" icon="star"></nb-icon>
          <span>Check out</span>
        </button>
      </div>
    </nb-card-body>
  </nb-card>
  
  <nb-calendar class="calendar size-xl-medium" startView="date" showNavigation></nb-calendar>
  <nb-card class="card2">
    <nb-card-header>
      <div class="space space5">
        <h6 class="heading1 text-undefined text-alignment-right text-transform-none">My Profile</h6>
      </div>
    </nb-card-header>
  
    <nb-card-body>
      <div class="space space8">
        <p class="text-name text-undefined text-bold text-alignment-left text-transform-none paragraph">Name</p>
        <p class="text3 text-undefined text-bold text-alignment-left text-transform-none paragraph">Email Address</p>
        <img class="image3" src="/assets/images/default.svg" src="/assets/images/timeAlert.png">
      </div>
    </nb-card-body>
  
    <nb-card-footer>
      <div class="space space11">
        <p class="text4 text-undefined text-bold text-alignment-left text-transform-none paragraph">Checked in at: </p>
        <p class="text5 text-undefined text-bold text-alignment-left text-transform-none paragraph">Checked out at: </p>
        <p class="text6 text-undefined text-bold text-alignment-left text-transform-none paragraph">Time worked today:</p>
      </div>
    </nb-card-footer>
  </nb-card>
</div>