<div class="space space4">
  <button nbButton class="sidebar-toggle1 size-xl-medium" appearance="ghost" status="primary" (click)="toggleSidebar($event)">
    <nb-icon class="icon btn-icon" icon="menu"></nb-icon>
    <span></span>
  </button>
  <div class="space space5">
    <h5 class="heading1 text-undefined text-alignment-left text-transform-none">Employees</h5>
  </div>
  <ng2-smart-table class="smart-table1" [settings]="settings" [source]="users"></ng2-smart-table>
  <input nbInput class="input size-xl-medium" placeholder="Employee Name" type="text" shape="rectangle" status="basic">
  <nb-icon class="icon giant" nbTooltip="" icon="search-outline"></nb-icon>
</div>