<nb-layout withScroll [class.header-hidden]="!(layout$ | async)?.header">

  <nb-layout-header class="header">
    <div *ngIf="router.url != '/Log-in'" class="space space3" style="display: flex; justify-content: flex-end;">
      <button nbButton (click)="logOut()" class="btn-log-out size-xl-medium" appearance="filled" status="primary">
        <nb-icon class="icon btn-icon" icon="star-outline"></nb-icon>
        <span>Log out</span>
      </button>
    </div>
  </nb-layout-header>
      <nb-sidebar *ngIf="router.url != '/Log-in'" class="sidebar" responsive="true" [collapsedBreakpoints]="['xs', 'is', 'sm']" [compactedBreakpoints]="[]">
        <div class="space sidebar-space">
          <nb-menu *ngIf="items" class="menu" [items]="items"></nb-menu>
        </div>
      </nb-sidebar>

  <nb-layout-column [style.padding]="padding$ | async">
    <router-outlet></router-outlet>
  </nb-layout-column>

</nb-layout>
