:host {
  
  .sidebar-toggle {
    width: auto;
    flex-direction: row;
    > nb-icon.btn-icon.icon {
      margin: 0;
    }
    
    span {
      display: none;
    }
    
    > nb-icon {
      display: inline;
    }
  }
    
  .smart-table {
    width: 100%;
    height: auto;
  }
    
  .space1 {
    height: auto;
    min-height: 2rem;
    width: 100%;
    align-items: top;
    align-content: top;
    justify-content: left;
    overflow: visible;
    background-color: unset;
  }
    
  .heading {
    margin: 0 0 0 450px;
  }
    
  .space2 {
    height: auto;
    min-height: 2rem;
    width: 100%;
    align-items: center;
    align-content: center;
    justify-content: left;
    overflow: visible;
    background-color: unset;
  }
    
  .user-list {
    width: 100%;
    height: auto;
  }
    
  .space-component {
    height: 100%;
    width: 100%;
    align-items: flex-start;
    align-content: flex-start;
    justify-content: flex-start;
    overflow: visible;
    background-color: unset;
  }

.ng2-smart-table .ng2-smart-actions a.ng2-smart-action ng2-smart-action-custom-custom ng-star-inserted{
  position: absolute !important;
}
  
}