<div class="space sign-up-form1">
  <label class="text3 text-basic label">Email</label>
  <input nbInput class="input size-xl-medium" id="emailInput" placeholder="" type="text" shape="rectangle" status="basic">
  <label class="text4 text-basic label">Password</label>
  <input nbInput class="input4 size-xl-medium" id="passwordInput" placeholder="" type="password" shape="rectangle" status="basic">
  <!-- <a href="" target="_blank"  class="link1 text-primary">Don't have an account? Sign up</a> -->
</div>